<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="angularjs-starter">
  
  <head>
    <title></title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  
  <body ng-controller="MainCtrl">
    <p>
      <b>I want to keep track of</b>
      <input type="text" ng-model="name"/>
      <b>in</b>
      <input type="text" ng-model="there"/> <br/>
      
    </p>
    <h1>{{total()}} {{name}}(s) in {{there}}</h1>
      
    <ul>
      <li>
        <input type="text" ng-model="newThing"/>
        <input type="button" value="+" ng-click="add()"/>
      </li>
      <li ng-repeat="thing in things">
        {{thing.count}} x {{thing.name}}
        <input type="button" value="-" ng-click="thing.count = thing.count - 1"/>
        <input type="button" value="+"ng-click="thing.count = thing.count + 1"/>
      </li>
    </ul>
    
  </body>

</html>
